// define font names
$variable-name: variable-value;

// define the mobile responsiveness breakdown
$mobile-breakpoint: 800px;
$tab-breakpoint: 1200px;
$max-breakpoint: 2000px;
// define the mobile responsiveness breakdown

// define the several functions which we use
$neon-green: #d4ff1e;
$dark-grey: #131313; 
$dark-blue: #292929;
$light-grey: #898989;
$white: #ffffff;
$home-background: #100C1A;
// define the several functions which we use

// define font names
$primary-font: Poppins-Regular;
$primary-font-light: Poppins-Light;
$primary-font-regular: Poppins-Regular;
$primary-font-medium: Poppins-Medium;
$primary-font-semibold: Poppins-SemiBold;
$primary-font-bold: Poppins-Bold;

// define font names

// define secondary font
$secondary-font: 'Cabinet Grotesk';

// transition speeds
$fast-transition-speed: 200ms;
// transition speeds
